header {
    /* position: fixed; */
    width: 100%;
}

.Header {
    color: white;
    background-color: rgb(33, 129, 113);
    text-align: center;
    padding: 7px;
    font-size: 18px;
}

.topnav {
    background-color: rgb(126, 124, 124);
    margin-top: 3px;
    overflow: auto;
    width: 100%;
}

.topnav a {
    text-align: center;
    font-size: 19px;
    float: right;
    padding: 1%;
    text-decoration: none;
    color: white;
    width: 18%;
}

.topnav a:hover {
    color: white;
    background-color: rgb(33, 129, 113);
}



/* Style the navigation menu */
/* Navigation links */


/* Style the current/active link */
.topnav a.active {
    background-color: rgb(33, 129, 113);

    /* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */
    @media screen and (max-width: 500px) {
        .topnav a {
            float: none;
            display: block;
            width: 100%;
            text-align: left;
            /* If you want the text to be left-aligned on small screens */
        }
    }
}

#b {
    left: 50px;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}