table {
    border-collapse: collapse;
    width: 70%;
}

th,
td {
    font-size: 120%;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}