<!DOCTYPE html>
<html>


<head>
    <title>home committee</title>
    <link rel="stylesheet" type="text/css" href="css/back.css">
</head>

<body>
    <div class="bottom">
        <button style=" width: 100px;
        height: 50px;  background-color:rgb(126, 124, 124);" onclick="window.history.back()">Back</button>
    </div>


</body>

</html>