<!DOCTYPE html>
<html>
    
<head>
        <title>home committee</title>
        <link rel="stylesheet" type="text/css" href="css/navBar.css">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"> </script>
    </head>
    <body>
        <header class="hHeader">
            <div class="Header">
                <h1>Welcome!</h1>
            </div>
            <div class="topnav">
                <b><a href="residents">דיירים</a></b>
                <b><a href="payments">תשלומים</a></b>
                <b><a href="fees">גבייה</a></b>
                <b><a href="login">login</a></b>
                <b><a href="registration">registration</a></b>
            </div>
        </header>
    </body>
</html>