<!DOCTYPE html>
<html>

<head>
    <script src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="css/forms.css">
</head>

<body>

  <!-- Button to open the modal -->
  <div style="text-align: center;">
    <button onclick="document.getElementById('id01').style.display='block'">חדש</button>
  </div>
  <!-- The Modal (contains the Sign Up form) -->
  <div id="id01" class="modal">
    <form id="myForm" class="modal-content">
      <div class="container">
        <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">x</span>
        <h3><b>תשלומים חדשים לתאריך <span id=partOfHeader></span></b></h3>
        <hr>
        <label for="date"><b>תאריך</b></label>
        <input type="date" placeholder="הכנס תאריך" name="date" id="dDate" required>

        <label for="myForm"><b>חשמל</b></label>
        <input type="number" placeholder="הכנס סכום עבור חשמל" name="electricity" id="electricity" required>

        <label for="cleaning"><b>נקיון</b></label>
        <input type="number" placeholder="הכנס סכום עבור נקיון" name="cleaning" id="cleaning" required>

        <label for="other"><b>אחר</b></label>
        <input type="number" placeholder="הכנס סכום עבור אחר" name="other" id="other">

        <div class="clearfix">
          <button type="button" onclick="document.getElementById('id01').style.display='none'"
            class="cancelbtn">ביטול</button>
          <button type="submit" class="signup" id="submitBtn">אישור</button>
        </div>
      </div>
    </form>
  </div>

</body>
<script>
  document.getElementById('dDate').valueAsDate = new Date();
  document.getElementById('partOfHeader').innerHTML = new Date().getDate() + "/" + (new Date().getMonth() + 1);
</script>
<script src="../js/payments.js"></script>

</html>