<!DOCTYPE html>
<html>

<head>

    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
</head>

<body>
    <%-include navBar %>
    <form id="myForm">
        <table>
                <tr>
                        <td><label for="user">User Id: </label></td>
                        <td><input type="text" name="userId" id="userId" placeholder="Enter id"></td>
                    </tr>
                    <tr>
                        <td><label for="password">apartment Id:</label></td>
                        <td><input type="text" name="apartmentId" id="apartmentId" placeholder="Enter apartment Id"></td>
        
                    </tr>
            <tr>
            <tr>
                <td><label for="managerId">manager Id: </label></td>
                <td><input type="text" name="managerId" id="managerId" placeholder="Enter manager Id"></td>
            </tr>
            <tr>
                <td><label for="apartmentId">apartment Id: </label></td>
                <td><input type="number" name="apartmentId" id="apartmentId" placeholder="Enter apartmen Id"></td>
            </tr>
            <tr>
                <td><label for="user">User: </label></td>
                <td><input type="text" name="user" id="userName" placeholder="Enter User"></td>
            </tr>
            <tr>
                <td><label for="password">password:</label></td>
                <td><input type="password" name="password" id="password" placeholder="Enter Password"></td>

            </tr>

            <tr>
                <td> <input type="button" id="submitBtn" name="submit" value="submit" class="enter"></td>
                <td></td>

            </tr>
        </table>
    </form>
</body>
<script src='./js/registration.js'></script>

</html>