<!DOCTYPE html>
<html style="width: 100%;">

<head></head>
<style src="style.css"></style>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

<body style="text-align: center">
    <%- include navbar%>
    <h2>Resident Registration</h2>
    <br><br>
    <form>
        <label for="fname">First Name: </label><input type="text" id="fname">
        <br><br><label for="lname">Last Name: </label><input type="text" id="lname">
        <br><br><label for="mail">Email: </label><input type="email" id="mail">
        <br><br><label for="phone1">phone1: </label><input type="tel" id="phone1" maxlength="10"
            title="The phone must be betwin 9-10 numbers">
        <br><br><label for="phone2">Phone2: </label><input type="tel" id="phone2" maxlength="10"
            title="The phone must be betwin 9-10 numbers">
        <br><br><label for="apartmentNumber">Apartment Number: </label><input type="number" id="apartmentNumber">

        <br><br><input type="submit" value="Submit">
    </form>

</body>

</html>
<!-- <script src="Scripts/lesson15.js"></script> -->
<!--pattern="[0-9]{9}"-->